html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

:root {
    --bg-theme: #1A120B;
    --fg-theme: #E5E5CB;
    --primary-100: #D5CEA3;
    --primary-400: #3C2A21;

    --gap-4: 4px;
    --gap-8: 8px;
    --gap-16: 16px;
    --gap-32: 32px;
    --gap-64: 64px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--fg-theme);
}

.klee-one-regular {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}

.klee-one-semibold {
    font-family: "Klee One", cursive;
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-theme);
    color: var(--fg-theme);
    font-size: 16px;
}

h1 {
    text-align: center;
}

.btn {
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: var(--gap-8);
    width: 100%;
    cursor: pointer;
    background-color: var(--primary-100);
    color: var(--bg-theme);
    font-family: "Klee One", cursive;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 0px 8px 4px rgba(242, 242, 242, .25);
}

.btn:hover {
    background-color: var(--fg-theme);
    transition: all;
    transition-duration: 300ms;
}

.btn:active{
    box-shadow: none;
}

/* Header */
.header-content {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-16);
    height: 64px;
}

header {
    background-color: var(--primary-400);
    position: sticky;
    z-index: 10;
    top: 0;
}

.menu-link {
    text-decoration: none;
}


/* Footer */
footer {
    background-color: var(--primary-400);
}

.footer-content {
    height: 96px;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    margin: auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}